/* You can add global styles to this file, and also import other style files */
/*@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
*/

@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

app-root {
  display: block !important;
  height: 100vh !important;
}

app-issue {
  display: block !important;
  height: 100% !important;
}

html, body {
  min-height: 100vh;
  height: auto;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0px !important;
}

.app-header {
  color: #fff;
  background-color: #0099e0;
  text-align: center;
  padding: 1%;
  -webkit-box-shadow: 2px 4px 58px -20px rgba(0, 0, 0, 1);
  -moz-box-shadow: 2px 4px 58px -20px rgba(0, 0, 0, 1);
  box-shadow: 2px 4px 58px -20px rgba(0, 0, 0, 1);
}

.login-container {
  width: 20vw;
  display: block !important;
  /*height: 100%;*/
  max-height: 80vh !important;
  padding: 0% !important;
  background-color: #fff;
  -webkit-box-shadow: 2px 4px 58px -20px rgba(0, 0, 0, 1);
  -moz-box-shadow: 2px 4px 58px -20px rgba(0, 0, 0, 1);
  box-shadow: 2px 4px 58px -20px rgba(0, 0, 0, 1);
}

.login-box-body {
  width: auto;
  height: 100%;
  padding: 5% 5% 5% 5%;
  color: #d2d2d2;
}

.login-icon {
  margin-top: -2px;
}

.justifier {
  width: 100%;
  padding-bottom: 0%;
  font-size: 1.1em;
  margin: 0 auto;
  color: black;
}

.input-container {
  width: 80%;
  padding-left: 7%;
}

.login-button {
  width: 100%;
  padding: 1.5% !important;
  background-color: #0099e0;
  font-size: 1.5em;
  color: #fff !important;
}

.login-button[disabled] {
  width: 100%;
  padding: 1.5% !important;
  background-color: #74adc7ce;
  font-size: 1.5em;
  color: #fff !important;
}

.mat-form-field-empty.mat-form-field-label {
  color: rgb(160, 156, 156);
}

.in-button {
  width: 50%;
  padding: 1.5% !important;
  background-color: rgb(74, 247, 74);
  font-size: 1.5em;
}

.out-button {
  width: 50%;
  padding: 1.5% !important;
  background-color: rgb(238, 40, 40);
  font-size: 1.5em;
}