/* You can add global styles to this file, and also import other style files */
/*@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
*/

@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

/*
app-root {
  display: block !important;
  height: 100vh !important;
}

app-issue {
  display: block !important;
  height: 100% !important;
}

html,
body {
  min-height: 100vh;
  height: auto;
  margin: 0;
}
*/

body {
  font-family: "Roboto", sans-serif;
  margin: 0px !important;
}

.app-header {
  color: #fff;
  background-color: #0099e0;
  text-align: center;
  padding: 1%;
  -webkit-box-shadow: 2px 4px 58px -20px rgba(0, 0, 0, 1);
  -moz-box-shadow: 2px 4px 58px -20px rgba(0, 0, 0, 1);
  box-shadow: 2px 4px 58px -20px rgba(0, 0, 0, 1);
  overflow: auto;
}

.login-container {
  width: 20vw;
  display: block !important;
  /*height: 100%;*/
  max-height: 80vh !important;
  padding: 0% !important;
  background-color: #fff;
  -webkit-box-shadow: 2px 4px 58px -20px rgba(0, 0, 0, 1);
  -moz-box-shadow: 2px 4px 58px -20px rgba(0, 0, 0, 1);
  box-shadow: 2px 4px 58px -20px rgba(0, 0, 0, 1);
}

.login-box-body {
  width: auto;
  height: 100%;
  padding: 5% 5% 5% 5%;
  color: #d2d2d2;
}

.login-icon {
  margin-top: -2px;
}

.justifier {
  width: 100%;
  padding-bottom: 0%;
  font-size: 1.1em;
  margin: 0 auto;
  color: black;
}

.input-container {
  width: 80%;
  padding-left: 7%;
}

.login-button {
  width: 100%;
  padding: 1.5% !important;
  background-color: #0099e0;
  font-size: 1.5em;
  color: #fff !important;
}

.login-button[disabled] {
  width: 100%;
  padding: 1.5% !important;
  background-color: #74adc7ce;
  font-size: 1.5em;
  color: #fff !important;
}

.mat-form-field-empty.mat-form-field-label {
  color: rgb(160, 156, 156);
}

.in-button {
  width: 50%;
  padding: 1.5% !important;
  background-color: #7fdb7f;
  font-size: 1.5em;
}

.out-button {
  width: 50%;
  padding: 1.5% !important;
  background-color: #e66e65;
  font-size: 1.5em;
}

.in-button[disabled], .out-button[disabled] {
  width: 50%;
  padding: 1.5% !important;
  background-color: #afb1b3ce;
  font-size: 1.5em;
  color: #fff !important;
}

.centered-layout {
  display: block !important;
  margin: 0 auto;
  width: 80%;
  text-align: center;
}

.centered-spinner {
  display: block;
  margin: 0 auto;
}

.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #0099e0;
}

.table-container {
  max-height: 370px;
  overflow: auto;
}

table.clockTable {
  width: 100%;
  overflow-x: auto;
  overflow-y: scroll;
  max-height: 100px;
}

table.mat-table {
  text-align: center !important;
  width: 100%;
}

.mat-header-cell, .mat-cell, .mat-footer-cell {
  text-align: center;
  justify-content: center;
}

.mat-cell.red {
  background-color: #e66e65;
}

.mat-cell.green {
  background-color: #7fdb7f;
}

.mat-cell.yellow {
  background-color: #e7d04f;
}

tr.mat-header-row, tr.mat-row, tr.mat-footer-row {
  display: flex;
}

.mat-divider{
  border-top-width: 3px;
}