<mat-grid-list cols="3">
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile class="login-element">
    <div class="login-container">
      <form>
        <div class="login-box-body" style="color:black">
          <p>Conectado como {{ username }}</p>
          <p *ngIf="isValidDate(date)">
            Fichaste por última vez: {{ date | date: "medium" }}
          </p>
          <button mat-raised-button class="in-button" (click)="clock('in')">
            Fichar
          </button>
          <button mat-raised-button class="out-button" (click)="clock('out')">
            Desfichar
          </button>
          <br />
          <br />
          <button mat-raised-button class="login-button" (click)="issue()">
            Incidencia
          </button>
          <br />
          <br />
          <button mat-raised-button class="login-button" (click)="logout()">
            Desconectar
          </button>
        </div>
      </form>
    </div>
  </mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
</mat-grid-list>
