<mat-grid-list cols="3">
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile class="login-element">
    <div class="login-container">
      <form>
        <div class="login-box-body" style="color:black">
          <p style="text-align: center;">Conectado como <strong>{{ username }}</strong></p>
          <div *ngIf="isValidDate(date)" style="text-align: center;">
            <p>
              {{ type === 'in' ? "Entraste" : "Saliste" }} por última vez:
            </p>
            <p>{{ date | date: "medium" }}</p>
          </div>
          <button mat-raised-button class="in-button" (click)="clock('in')">
            Fichar
          </button>
          <button mat-raised-button class="out-button" (click)="clock('out')">
            Desfichar
          </button>
          <br />
          <br />
          <button mat-raised-button class="login-button" (click)="issue()">
            Incidencia
          </button>
          <br />
          <br />
          <button mat-raised-button class="login-button" (click)="logout()">
            Desconectar
          </button>
        </div>
      </form>
    </div>
  </mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
</mat-grid-list>
