<h1 mat-dialog-title>Nuevo fichaje</h1>

<mat-dialog-content [formGroup]="clockForm">
  <mat-form-field>
    <mat-label>Texto incidencia</mat-label>
    <textarea
      formControlName="text"
      placeholder="Texto"
      matInput
      cdkTextareaAutosize
      cdkAutosizeMinRows="1"
      cdkAutosizeMaxRows="5"
      maxlength="2550"
    ></textarea>
  </mat-form-field>
  <mat-divider></mat-divider>

  <h3 mat-dialog-subtitle>Fecha de entrada</h3>
  <mat-form-field>
    <mat-label>Fecha de entrada</mat-label>
    <input matInput formControlName="nInDate" placeholder="DD/MM/AAAA HH:mm" />
  </mat-form-field>
  <mat-divider></mat-divider>

  <h3 mat-dialog-subtitle>Fecha de salida</h3>
  <mat-form-field>
    <mat-label>Fecha de salida</mat-label>
    <input matInput formControlName="nOutDate" placeholder="DD/MM/AAAA HH:mm" />
  </mat-form-field>
</mat-dialog-content>
<mat-divider></mat-divider>
<br />
<mat-grid-list cols="2" rowHeight="4:1">
  <mat-grid-tile
    ><button class="mat-raised-button" style="width: 100%;" (click)="close()">
      Cerrar
    </button></mat-grid-tile
  >
  <mat-grid-tile
    ><button
      class="mat-raised-button mat-primary"
      style="width: 100%;"
      (click)="save()"
      [disabled]="!clockForm.valid"
      ng-disabled="!clockForm.valid"
    >
      Guardar
    </button></mat-grid-tile
  >
</mat-grid-list>
